# ------------------------------------------------------------------------------
# Python
# ------------------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/

# Trades Data
/data
/models

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# ------------------------------------------------------------------------------
# OS / Editor
# ------------------------------------------------------------------------------
# Linux / macOS
.DS_Store
.Trash-*
*.swp
*.swo
*~
# VS Code
.vscode/
# PyCharm
.idea/

# ------------------------------------------------------------------------------
# Docker
# ------------------------------------------------------------------------------
# Exclude build artifacts
*.bak
*.tmp
*.log
docker-compose.override.yml

# ------------------------------------------------------------------------------
# Project-specific
# ------------------------------------------------------------------------------
# Logs
logs/
*.log

# Local configs and secrets
config/environment.env
*.env

# Database
*.db
*.sqlite3
sql/*.dump

# ------------------------------------------------------------------------------
# Grafana
# ------------------------------------------------------------------------------
grafana/data/
grafana/plugins/

# ------------------------------------------------------------------------------
# Other
# ------------------------------------------------------------------------------
# Backup files
*.old
*.orig
*.save

# Ignore compiled binaries
bin/
build/
dist/
